*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

nav{
  padding: 20px 40px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.grid-images{
  width: 400px;
  margin: 3rem auto;
}

.grid-images img{
  width: 100%;
}

.text-content{
  padding: 0rem 2rem;
}

.text-content h1{
  font-size: 36px;
  margin: 0;
}

.text-content p{
  font-size: 16px;
  color: #222222;
  max-width: 320px;
  font-weight: 300;
}

.row{
  display: flex;
  overflow: scroll;
  flex: 0 0 auto;
}

.card{
  position: relative;
  margin-left: 1rem;

}

.card > img{
  width: 100%;
  height: 200px;
}

.state{
  position: absolute;
  top: .5rem;
  left: .5rem;
  width: 61px;
  height: 20px;
  background-color: white;
  border-radius: 2px;
}

.state p{
  text-align: center;
  font-size: 10.24px;
  line-height: 1px;
}

.ratings{
  display: flex;
  align-items: center;
  gap: 5px;
}

.ratings img{
  width: 14px;
  height: 14px;
}

.ratings p{
  font-weight: 300;
  font-size: 12px;
  margin: 0;
}

.ratings p:last-child, .view{
  color: #918E9B;
}

.description h5{
  font-weight: 300;
  font-size: 12px;
  margin: 5px 0 0 0;
}

.description p{
  font-size: 12px;
  font-weight: 300;
  margin: 5px 0;
}

.description p > span{
  font-weight: 600;
}