* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif; 
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f5f7fb;
  gap: 1rem;
}

.container h2{
  margin: 0;
  font-size: 32px;
  color: #293264;
}

.container p{
  color: #293264;
  font-size: 16px;
  margin: 0;
  margin-bottom: 1rem;
}

.container button{
  background-color: #4d5b9e;
  border: none;
  width: 193px;
  height: 52px;
  border-radius: 15px;
  cursor: pointer;
}

.container button a{
  font-size: 16px;
  color: white;
  text-decoration: none;

}

.container button:active{
  transform: scale(1.025);
}

.start-form{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f5f7fb;
}

.start-form h1, p{
  margin: 0px;
  color: #293264;
}

.start-form p{
  margin: 20px 0;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.form-container input{
  border: 1px rgba(163, 163, 163, 0.685) solid;
  padding: 10px 0px 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
}

.form-container input:focus{
  outline: none;
}

.form-container select{
  background-color: transparent;
  border: 1px rgba(163, 163, 163, 0.685) solid;
  border-radius: 5px;
  padding: 10px 0px 10px 15px;
  width: 100%;
  font-size: 16px;
  color: rgb(107, 107, 107);
}

.start-form-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 15px;
  margin: 0 15px;
  border-radius: 10px;
  box-shadow: 0px 7px 10px 2px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.start-form-content button{
  background-color: #4d5b9e;
  border: none;
  width: 193px;
  height: 52px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 1.5rem;
}

.start-form-content button a{
  font-size: 20px;
  color: white;
  text-decoration: none;

}



.quiz-questions-container{
  background-color: #f5f7fb;
  border: 1px rgba(0, 0, 0, 0.0001) solid;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.quiz-questions{
  border-bottom: 1px #dbdef0 solid;
  margin: 1rem;
  padding: 1rem 0;
}

.question{
  font-size: 16px;
  font-weight: 700;
}

.answers{
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
  font-size: 10.24px;
  font-weight: 500;
}

.answer{
  border: 1px #4d5b9e solid;
  border-radius: 8px;
  padding: 3px 20px;
  cursor: pointer;
}

.incorrect-answers{
  display: flex;
  gap: 1rem;
}

.correct-answer{
  background-color: blue;
}



/*change color on click*/
.dark-answer{
    border: 1px #4d5b9e solid;
  border-radius: 8px;
  padding: 3px 20px;
  cursor: pointer;
  background-color: black;
}